@use '../../styles/_variables';

section {
  background-color: variables.$white;
  div {
    display: flex;
    flex-direction: row;
    img {
      background-color: variables.$white;
    }
    h1 {
      background-color: variables.$white;
    }
  }
}
