@use '../../styles/variables' as *;

div, 
.question-text, 
.dropdown-button {
  background-color: $white;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-button {
  border: none;
}

.answer-text {
  color: $greyish-purple ;
}

.dropdown-button:hover,
.accordion-section:hover {
  cursor: pointer;
}

.question-text:hover {
  color: $purple
}

